<app-drag-drop-grid-layout></app-drag-drop-grid-layout>
<!-- <app-grid-layout>
  <app-grid-cell [colSpans]="[12, 12, 6, 6, 6, 3]"><div>Cell 1</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 6, 3, 3]"><div>Cell 2</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 2, 3, 3]"><div>Cell 3</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 2, 3, 3]"><div>Cell 4</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 2, 3, 3]"><div>Cell 5</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 2, 3, 3]"><div>Cell 6</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 2, 3, 3]"><div>Cell 7</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 2, 3, 3]"><div>Cell 8</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 4, 3, 3]"><div>Cell 9</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 4, 3, 3]"><div>Cell 10</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 6, 4, 3, 3]"><div>Cell 11</div></app-grid-cell>
  <app-grid-cell [colSpans]="[12, 12, 12, 12, 3, 3]"><div>Cell 12</div></app-grid-cell>
</app-grid-layout> -->