<!-- <app-drag-drop-grid-layout 
    [layoutDefinition]="layoutDefinition">
</app-drag-drop-grid-layout> -->
<app-grid-layout>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 1</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 2</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 3</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 4</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 5</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 6</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 7</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 8</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 9</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 10</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 11</div></app-grid-cell>
  <app-grid-cell [colSpans]="[3, 12, 12, 6, 4, 3]"><div style="background: green">Cell 12</div></app-grid-cell>
</app-grid-layout>