:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-template-rows: minmax(10px, auto);
  grid-auto-flow: dense;
  grid-gap: 1rem;
}

:host ::ng-deep app-grid-cell {
  display: block;
  height: 100%;
}